.chat-row {
  display: flex;
  /* flex-direction: row-reverse; */
}

.reverse {
  flex-direction: row-reverse;
}

.chat {
  padding: 10px 15px;
  max-width: 240px;
  font-size: var(--fs-sm);
  word-break: break-word;
  @media (min-width: 414px) {
    max-width: 280px;
    font-size: var(--fs-md);
  }
}

.user {
  border: 1px solid var(--green-500);
  background: var(--green-100);
  border-radius: 16px 0 16px 16px;
}
